streamlit
langchain
langchain_community
langchain_ollama
python-dotenv
sentence-transformers
faiss-cpu
pypdf
langchain-huggingface
torch
numpy
torchvision
torchaudio
openai-whisper
sounddevice 
pyaudio
scipy
librosa==0.10.0
soundfile
langchain
langchain_community
langchain_ollama
python-docx
comtypes
ipykernel
